h1 {
    text-align: center;
    font-size: 2em;
    margin-top: 1em;
}

input { 
    background-color: white;
    border-radius: 0.2rem;
    margin-left: 15px;
}

canvas {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 0.2rem;
    text-align: center;
    background-color: rgb(230, 220, 220);
}